{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div >
        <div style="text-align: center;">
            <p>author: {{ publication.author.nickname }}</p>
            <p>publication_date: {{ publication.publication_date }}</p>
        </div>
        <br>
        <img src="{{publication.image.url}}">
    </div>
    {% if comments %}
        {% for com in comments %}
           <p>{{com.text}}</p>
        {% endfor %}
    {% else %}
        <P>No comments yet!</P>
    {% endif %}
</body>
</html>